body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

header{
    background: linear-gradient(30deg, orange, blue, red);/* deg=medida para angulo*/
    padding: 20px 0px;
}

.logo-contato{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin-left: 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}
nav a:hover{
    color: red;
    text-decoration: underline;
}
footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
    margin-top: 30px;
   
    
}
.copyright{
    color:white;
    font-size: 13px;
    margin-top: 20px;
}
.logo-fundo{
    
    width:10% ;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin-top: 50px;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;/*ordem: para cima e para baixo/para os lados*/
    width: 50%;
}
.checkbox{
    margin: 20px 0 ;
}
.enviar{
    width: 40%;
    padding: 15px 0;
     background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    
}

.enviar:hover{
    background-color:darkorange;
    transform:scale(1.2);
}

table{
    margin: 20px 40px;
}
thead{
    background-color: gray;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid black ;
    padding: 8px 15px ;
}
